 <h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<head>
<title>Car | <%= @title %></title>
</head>


<div class="center jumbotron">
<center><h1>Welcome to the Auto Mobile</h1></center>
<h2>
This is the home page for the
<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>

 <h2> sample application.</h2>

<li><%= link_to "Register", new_user_registration_path %></li>
<li><%= link_to "Sign up now!", new_user_session_path,class: "btn btn-lg btn-primary" %></li>
</div>

<%= link_to image_tag("rails.png",alt: "Rails logo"),'http://rubyonrails.org/' %>




<%= link_to "Sign up now!", new_user_session_path, :class => "signup_button round" %> 
 