<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @status.status_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @status.state %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @status.remarks %>
</p>

<p>
  <strong>Project:</strong>
  <%= @status.project %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
