<p id="notice"><%= notice %></p>

<p>
  <strong>Bill:</strong>
  <%= @bill.bill_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @bill.amount %>
</p>

<p>
  <strong>Bill date:</strong>
  <%= @bill.bill_date %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
